<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
  <p class="text-right">hayaki</p>
  <h1 class="mt-3 mb-3">
    <%- title%>
  </h1>
</body>

</html>