<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link type="text/css" href="./style.css" rel="stylesheet">

</head>

<body>
    <header>
        <h1>
            <%=title%>
        </h1>
    </header>
    <div role="main">
        <p>I'm Kiku.</p>
        <p>こんにちは、今日は<%=today%>です。</br> 今日も一日がんばろう！</p>
    </div>
</body>